
/**
 * Modal Wrapper
 */

.uModal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    pointer-events: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    transition: background 200ms;
}


.uModal-wrapper[active] {
    background: rgba(0, 0, 0, 0.6);
}



/**
 * Modal Inner
 */

.uModal-inner {
    opacity: 0;
    transition: opacity 200ms;
}


.uModal-wrapper[active] .uModal-inner {
    opacity: 1;
}



/**
 * Modal
 */

.uModal {
    display: none;
    pointer-events: all;
    background: #FCF4F8;
}


.uModal[active] {
    display: flex;
    flex-direction: column;
}